.divContato h3{
    color: white;
    padding: 0px 20px;
}
.divContato span{
    text-align: center;
    color: white;
}
.divIconsContato{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    /* background: #323232; */
    width: 98%;
    margin: 14px auto;
    height: 200px;
}
.spanCopy{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 12px;
}
.iconContato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconContato span{
    font-size: 12px;
}
.icons{
    display: flex;
    align-items: center;
    gap: 30px;
}
.icon{
    width: 24px;
    color: white;
}
.txtMot{
    color: white;
    font-size: 14px;
}
.DivAreaContato{
    position: fixed;
    top: 30vh;
    bottom: 30vh;
    left: 20vw;
    right: 20vw;
    background: #f5f5f5;
    border-radius: 12px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 570px;
    height: 300px;
    margin: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    color: #0b051b;
    padding: 20px;
}
.corpoDiv{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: #00000090;
}
.tituloIcon{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.iconFechar{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    padding: 6px;
    border: 1px solid #0b051b;
    cursor: pointer;
}
.divLinks{
    display: flex;
    gap: 20px;
}
.divLinks img{
    /* background: rgb(41, 40, 40); */
    width: 36px;
    height: 36px;
}
.contatodiv{
    width: 38px;
    height: 36px;
    background: rgb(15, 49, 95);
    display: flex;
    justify-content: center;
    border-radius: 100%;
    padding: 8px;
    
}