.divContato h3{
    color: white;
    padding: 0px 20px;
}
.divContato span{
    text-align: center;
    color: white;
}
.divIconsContato{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    /* background: #323232; */
    width: 98%;
    margin: 14px auto;
    height: 200px;
}
.spanCopy{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 12px;
}
.iconContato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconContato span{
    font-size: 12px;
}
.icons{
    display: flex;
    align-items: center;
    gap: 30px;
}
.icon{
    width: 24px;
    color: white;
}
.txtMot{
    color: white;
    font-size: 14px;
}