.projetoFront{
    background: #323232;
    width: 85%;
    height: 240px;
    margin: 0px auto;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divImg{
    width: 280px;
    height: 200px;
    background: #773535;
    border-radius: 4px;
}
.divImgLinks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.linksProjeto{
    display: flex;
    gap: 10px;
}
.divTexto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.linkBtn{
    background: #D9D9D9;
    border: 1px solid rgb(56, 56, 56);
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.linkBtn a{
    color: black;
}
.divDescricao{
    width: 300px;
    color: white;
}
.tecnologia{
    display: flex;
    align-items:center;
    gap: 4px;
}
.tecnologia img{
    width: 20px;
    height: 20px;
}