
.projetos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projetoFront{
    background: #323232;
    width: 80%;
    height: 280px;
    margin: 0px auto;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.divImg{
    width: 300px;
    /* background: #773535;
    border-radius: 4px; */
}
.divImg img{
    width: 100%;
}
.divImgLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.linksProjeto{
    display: flex;
    gap: 10px;
}
.divTexto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.linkBtn{
    /* background: #D9D9D9; */
    background: #053AF6;
    border: 1px solid rgb(56, 56, 56);
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.linkBtn a{
    color: white;
}
.divDescricao{
    width: 340px;
    color: white;
}
.tecnologia{
    display: flex;
    align-items:center;
    gap: 4px;
}
.tecnologia img{
    width: 24px;
    height: 20px;
}
.projApp img{
    width: 92px;
}
.projApp{
    display: flex;
    justify-content: center;
}
.listaVue{
    width: 300px;
}