.header{
    display: flex;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}
.linksHeader{
    display: flex;
    gap: 24px;
    color: white;
}
.linksHeader a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: #3e19a340;
    padding: 8px 14px;
    border-radius: 16px;
}

.michroma-regular {
    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 24px;
}


  