.divSkills{
    /* background: #f0f0f0; */
    border-radius: 4px;
    margin: 0px auto;
    padding: 10px 40px;
}
.divSkills h2{
    color: white;
}
 .DivHab{
    display: flex;
    justify-content: space-between;
 }
 .divBtnHab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* background: steelblue; */
 }
 .divBtnHab button{
    cursor: pointer;
    border: 1px solid #3e19a3;
    font-size: 16px;
    color: #3e19a3;
    padding: 8px 14px;
    border-radius: 16px;
    background: white;
    /* transition: background-color 0.5s , color 0.8s ease; */
 }
 .divBtnHab button:hover{
    background: #3e19a3;
    color: white;
    border: 1px solid rgb(189, 189, 189);
 }
 .divReaultadoHab{
    width: 900px;
    height: 400px;
    padding-bottom: 14px;
 }