.divSkills{
    background: #f0f0f0;
    width: 96%;
    border-radius: 4px;
    margin: 0px auto;
    padding: 10px;
}
.textoSkills{
    text-align: center;
}
.imgIcon{
    width: 50px;
}
.imgIconFig{
    width: 35px;
}
.iconsTec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}