

body{
  /* background: #2E2E2E; */
  /* background: #5371d4; */
  /* background: #0a206b; */
  /* background: #150a33; */
  background: linear-gradient(to bottom, #150a33,#180c3d,#3f19a5,#150a33);
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: #150a33;
}
::-webkit-scrollbar-thumb {
  background: #353d57; 
  border-radius: 6px; 
}

.divInfoSkills{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.divProjetos{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 12px;
}
.divProjetos h2{
  color: white;
}
.areaProjetos{
  background: #0b051b40;
  width: 90%;
  height: 450px;
  border-radius: 10px;
  margin: 0px auto;
  padding: 40px 0px;
  overflow-y: scroll;
}
.areaProjetos::-webkit-scrollbar {
  display: none; 
}
html {
  scroll-behavior: smooth;
}
.divBtns button{
  cursor: pointer;
  /* background: #150a33; */
  color: white;
  border: 1px solid white;
  font-size: 16px;
  background: #3e19a340;
  padding: 8px 14px;
  border-radius: 16px;
  transition: background-color 0.5s , color 0.8s ease;
}
.divBtns button:hover{
  background:rgb(78, 78, 124);
  color: white;
}
.DivContato{
  border-radius: 6px;
  width: 800px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #3f19a5;
  background: #180c3d;
  box-shadow: 0px 10px 20px #3f19a5;
  color: white;
}
.DivContato p{
  font-size: 18px;
}
.DivContato button{
  border-radius: 14px;
  color: white;
  font-size: 16px;
  padding: 10px 12px;
  cursor: pointer;
  border: none;
  background: #150a33;
  font-weight: bold;
}
.DivContato button:hover{
  background: #3f19a5;
}
